<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Repositorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Repo y foto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" href="https://github.com/franciscocaero/Prueba.git" target="_blank">
    Ir al Repositorio del proyecto
  </ion-button>

  <br><br>
  <ion-img
    class="bio-img"
    src="../../assets/icon/fc.jpg"
    alt="Francisco Caero foto "
  ></ion-img>
</ion-content>

